* {
    margin: 25px;
}

.nivel1 {
    background-color: aqua;
    padding: 45px;
}

.nivel2 {
    background-color: green;
    padding: 80px;
    border-radius: 50%; 
}

.nivel3 {
    background-color: coral;
    padding: 80px;
    border-radius: 50%; 
}

.nivel4 {
    background-color: rgb(56, 26, 6);
    padding: 80px;
    border-radius: 50%; 
}

.nivel5 {
    background-color: rgb(119, 28, 99);
    padding: 80px;
    border-radius: 50%;
}

.nivel6 {
    background-color: rgb(80, 83, 255);
    padding: 80px;
    border-radius: 50%; /* Ajuste de border-radius */
}

.nivel7 {
    background-color: rgb(255, 80, 217);
    padding: 80px;
    border-radius: 50%; /* Ajuste de border-radius */
}




